.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px 1fr auto;
    width: 700px;
    height: 800px;
    margin: 0 auto;
    border: 5px solid black;
}

.block1 {
    background: rgb(91, 173, 201);
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.block2 {
    background: rgb(100, 165, 100);
    grid-column: 1/2;
    grid-row: 1/3;
}

.block3 {
    background: rgb(179, 179, 91);
    grid-area: 2/2/3/4;
}

.block4 {
    background: rgb(201, 117, 130);
    grid-column: 1 / span 3;
    grid-row: 3 / -1;
}