:root{
    --bg-color: plum;
    --second-bg-color: fuchsia;
    --text-color: black;
    --second-text-color: white;
}

@media(prefers-color-scheme: dark){
    :root{
        --bg-color: darkred;
        --second-bg-color: darkgreen;
        --text-color: white;
        --second-text-color: black;
    }
}
body{
    background: lavender;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /*flex-wrap: wrap;*/
    background: coral;
    border: dotted brown 5px;
    width: 800px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}

.block{
    background: rgb(151, 131, 170);
    border: 1px solid blue;
    height: 200px;
    width: 200px;
}

.block3{
    flex-shrink: 0;
    flex-grow: 2;
}

/* .block4{
    flex-shrink: 4;
} */

.block1{
    flex-grow: 1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html,
body{
    height: 100%;
    min-height: 100%;
    color: var(--text-color);
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 1360px;
    margin: 0 auto;
    background: var(--bg-color);
}
main{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

header{
    min-height: 120px;
    background: var(--second-bg-color);
    color: beige;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.main-menu{
    display: flex;
    flex-direction: row;
    list-style: none; 
    gap: 30px;

}

.main-menu a {
    color: white;
}

.main-menu li {
    flex-shrink: 0;
}

h1{
    flex-shrink: 0;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background: var(--second-bg-color);
    color: white;
}

aside{
    background: rebeccapurple;
    width: 250px;
}

.catalog{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;

}

.card{
    width: 23%;
    border: 1px solid darkcyan;
    border-radius: 15px;
    padding-bottom: 15px;
}

.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.card h3{
    color: brown;
    margin: 10px 15px;
}

.card-price {
    margin: 0 15px;
}

.card button{
    background: blue;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
    margin: 10px 15px;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover,
.card button:focus{
    box-shadow:  0 0 5px blue;
}

.content{
    padding: 20px;
}


.drop-menu{
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
}
.drop-menu svg{
    fill: white;
    width: 44px;
    height: 44px;
}

@media(max-width:1000px){
    .card{
        width: 30%;
    }
}

@media(max-width:768px){
    aside{
        display: none;
    }

}
@media(max-width: 767px){
    .drop-menu{
        display: block;
    }
    .main-menu{
        display: none;
    }
}

@media(max-width:660px){
    .card{
        width: 46%;
    }
} 

@media(max-width:500px){
    .card img{
        height: 120px;
    }
}



